parameters:
	level: 8
	paths:
		- src
		- tests
	excludePaths:
		- tests/Support/*
	ignoreErrors:
	    -
	        messages:
	            - '#^Call to an undefined method.*(?:MockObject|Mockery).*$#'
	            - '#^Parameter \#1.*MockObject.*$#'
	        paths:
	            - tests/Unit/*
