parameters:
	level: 8
	paths:
		- src
		- test
	ignoreErrors:
	    -
	        messages:
	            - '#^Call to an undefined method.*(?:MockObject|Mockery).*$#'
	            - '#^Parameter \#1.*MockObject.*$#'
	        paths:
	            - test/*
